snippet cl "console.log"
console.log(${1}, '87YLu-log${0}');
endsnippet

snippet cr "console.trace"
console.trace('87YLu-log${0}');
endsnippet


snippet f "Arrow Function"
const ${1:name} = (${2:arg}) => {
	${0}
}
endsnippet

snippet af "Async Arrow Function"
const ${1:name} = async (${2:arg}) => {
	${0}
}
endsnippet

snippet cc "comment"
/** ${0} */
endsnippet
